<div class="container mb-5">
  <p class="mt-5">
    <%= link_to topics_path, class: "btn btn-primary" do %>
      <i class="fas fa-chevron-left"></i> Retour
    <% end %>
  </p>
  <h1 class="text-center my-5">Modifier mon topic</h1>
  <%= render 'form', topic: @topic %>
</div>
